extends layout

block content
    h1= title
    p Welcome to #{title}

    field#login(name='login')
        input#inputEmail(type='text',placeholder='email',name='email')
        br
        input#inputPassword(type='password',placeholder='password',name='email')
        br
        button#btnLogin(type='button') Log in