extends layout

block content
    h1= title
    form#formAddUser(name="adduser",method="post",action="/adduser")
        input#inputUserEmail(type="email", placeholder="test@test.com", name="useremail")
        input#inputUserPassword(type="password", placeholder="", name="userpassword")
        input#inputUserConfirmPassword(type="password", placeholder="", name="userconfirmpassword")
        button#btnSubmit(type="submit") submit